In [3]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

In [4]:
start = dt.datetime(2015, 1, 1)
end = dt.datetime.now()

In [15]:
df = web.DataReader("AAPL", 'yahoo', start, end)

In [18]:
df1 = df.reset_index()
df1['qtr_end'] = df1['Date'] + pd.tseries.offsets.QuarterEnd(n=0)
df1 = df1.sort_values(by='Date')
df1 = df1.drop_duplicates(['qtr_end'],keep='last')\
         .drop(['Date','High','Low','Open','Volume','Adj Close',], axis=1)
display(df1)

           Close    qtr_end
60     31.107500 2015-03-31
123    31.357500 2015-06-30
187    27.575001 2015-09-30
251    26.315001 2015-12-31
312    27.247499 2016-03-31
376    23.900000 2016-06-30
440    28.262501 2016-09-30
503    28.955000 2016-12-31
565    35.915001 2017-03-31
628    36.005001 2017-06-30
691    38.529999 2017-09-30
754    42.307499 2017-12-31
815    41.945000 2018-03-31
879    46.277500 2018-06-30
942    56.435001 2018-09-30
1005   39.435001 2018-12-31
1066   47.487499 2019-03-31
1129   49.480000 2019-06-30
1193   55.992500 2019-09-30
1257   73.412498 2019-12-31
1319   63.572498 2020-03-31
1382   91.199997 2020-06-30
1446  115.809998 2020-09-30
1510  132.690002 2020-12-31
1571  122.150002 2021-03-31
1634  136.960007 2021-06-30
1698  141.500000 2021-09-30
1762  177.570007 2021-12-31
1824  174.610001 2022-03-31
1886  136.720001 2022-06-30
1940  150.699997 2022-09-30